body {
  margin: 0;
  padding: 0;
  top: 0;
  min-height: 600px;
}

.raison {

  margin-bottom: 20px;

}

.chart {

  table.character_table {
    border-collapse: collapse;

    md-checkbox {
      margin-top: 0;
      margin-bottom: 0;
    }

    .md-button {
      margin-top: 0;
      margin-bottom: 0;

      span {
        text-decoration: none;
      }
    }
    th, td {
      border: 1px solid black;
    }

    th {
      min-width: 35px;
    }

    td.zero {
      border-top: 0;
      border-left: 0;
    }

    td {
      padding: 0;
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    td.character {
      padding-left: 5px;
    }

    td.ability {
      div {
        background-color: black;
        height:36px;
      }

      .active {
        opacity: 1.0;
      }

      .passive {
        opacity: 0.4;
      }
    }

    td.ability.yellow {
      div {
        background-color: #C29325;
      }
    }
    td.ability.red {
      div {
        background-color: #851C18;
      }
    }
    td.ability.blue {
      div {
        background-color: #354C9E;
      }
    }
    td.ability.purple {
      div {
        background-color: #7A0085;
      }
    }
    td.ability.green {
      div {
        background-color: #487D1F;
      }
    }
    td.ability.black {
      div {
        background-color: #555555;
      }
    }
  }
}
