<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Marvel Puzzle Quest Team Builder</title>
  <meta name="description" content="Build a synergistic team around the colors and powers of your favorite heroes in Marvel Puzzle Quest."/>
  <meta name="viewport" content="width=device-width">
  <meta property="og:url" content="https://infomofo.com/mpq-puzzle-planner">
  <!-- <meta property="og:image" itemprop="image" content="https://infomofo."> -->
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body layout-fill flex>
  <!--[if lte IE 8]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div layout="column" layout-align="space-between start" layout-fill flex>
    <!-- Add your site or application content here -->
    <div layout-fill flex layout="column" class="center_container">
      <md-toolbar layout="row" layout-fill layout-align="center center">
        <div class="md-toolbar-tools container" layout="row" layout-align="space-between center">
          <h1 flex>MPQ Planner</h1>

          <div layout="row" layout-align="space-around center">
            <div layout="column">

            </div>
            <md-button class="md-icon-button" href="//github.com/infomofo/mpq-party-planner" target="_blank">
              <md-tooltip>Contribute on Github</md-tooltip>
              <i class="fa fa-github fa-2x"></i>
            </md-button>
          </div>
        </div>
      </md-toolbar>
      <div class="raison container">
        <p>
          This is a tool to help you plan your <a href="http://d3go.com/games/marvelpuzzlequest/">Marvel Puzzle Quest</a>
          Team.
        </p>

        <p>
          Start by selecting a superhero that you want to build a team around using the checkboxes on the left side of the
          table. When you select that character, other characters
          that would become available (i.e. different versions of the same character) will become unselectable. Also,
          characters whose active ability colors are already present in your team will be greyed out.  Characters highlighted
          in blue are good candidates towards selecting a team with a full "Rainbow" of active ability colors.
        </p>

        <p>
          The characters are sorted by the May 2015 <a href="http://d3go.com/forums/viewtopic.php?f=14&t=29852"
          target="_blank">community sourced character rankings</a>.

          As you select characters, the in your browser will update so you can paste this link and share it with your
          friends
          or on a forum.
        </p>

        <p>
          If you find any issues or have any suggestions, please let me know on <a
          href="http://github.com/infomofo/mpq-party-planner/issues">this project's github issues page</a>. Thanks!
        </p>
        <p>
          I'm no longer playing this game but if you submit a ticket I will
          try to look at it. If you would like to support future development
          of tools like this please click on the amazon links on this page.
        </p>
        <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "false";
amzn_assoc_tracking_id = "mpqpp-20";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_search_phrase = "marvel comics";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "7643d0e0d19932587213dc041c628f1c";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
      <md-content layout="column" flex class="md-padding" layout-fill layout-align="start center" ng-app="mpqPartyPlannerApp" ng-controller="MainCtrl">
        <div class="container selection" layout-gt-sm="column" layout-align="space-between center" layout-sm="column"
        ng-if="mpqModel.selectedCharacters.length > 0">
        <h2> Your Team</h2>

        <div layout="row" layout-align="space-between center">
          <div ng-repeat="character in mpqModel.selectedCharacters" class="character" layout="column"
          layout-align="start center">
          <div ng-bind="character.name">
          </div>
          <img ng-src="{{character.image}}"/>

          <div layout="row" layout-align="space-around center" layout-fill class="abilities">
            <div ng-repeat="ability in character.abilities"
            ng-class="{'active': ability.cost !== 0, 'passive': ability.cost === 0}" class="ability">
            <md-tooltip>
              {{ability.name}}
              <span ng-if="ability.cost === 0">
                &nbsp;(Passive)
              </span>
            </md-tooltip>
            <img ng-src="{{getFlagImage(ability.color)}}"/>
          </div>
        </div>
      </div>
    </div>
    <div class="team_abilities">
      <div>
        <h3>Active Abilities</h3>

        <div ng-repeat="(color, abilities) in mpqModel.teamActiveAbilities" layout="row" class="active_color">

          <div class="color"><img ng-src="{{getTileImage(color)}}"/></div>
          <div layout="column">
            <div ng-repeat="ability in abilities">
              <strong ng-bind="ability.name"></strong> (Cost: {{ability.cost}}): <span ng-bind="ability.description"></span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3>Passive Abilities</h3>
        <div ng-repeat="character in mpqModel.selectedCharacters" class="passive_abilities">
          <div ng-repeat="ability in character.abilities | filter:{'cost':0}">
            <strong ng-bind="ability.name"></strong>: <span ng-bind="ability.description"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chart" layout-fill layout="column" layout-align="start center">
    <table class="character_table">
      <tr>
        <td class="zero">
          <md-button class="md-icon-button md-warn" aria-label="unselect all" ng-click="clearSelection()">
            <md-tooltip>
              Clear all selected characters
            </md-tooltip>
            <i class="fa fa-undo"></i>
          </md-button>
        </td>
        <th hide-sm class="rank">
          <a href="https://d3go.com/forums/viewtopic.php?f=14&t=29852" target="_blank">
            <md-tooltip>This character's standing in the most recent rankings</md-tooltip>
            #</a>
            <md-button class="md-icon-button md-accent" ng-click="sortBy('rank')">
              <i class="fa fa-sort-numeric-asc"></i>
            </md-button>
          </th>
          <th>
            Character
            <md-button class="md-icon-button md-accent" ng-click="sortBy('name')" hide-sm>
              <i class="fa fa-sort-alpha-asc"></i>
            </md-button>
          </th>
          <th>
            <img src="images/YellowFlag.png" aria-label="yellow">

            <md-tooltip>
              Filled = Active; Shaded = Passive
            </md-tooltip>
          </th>
          <th>
            <md-tooltip>
              Filled = Active; Shaded = Passive
            </md-tooltip>
            <img src="images/RedFlag.png" aria-label="red"/>
          </th>
          <th>
            <md-tooltip>
              Filled = Active; Shaded = Passive
            </md-tooltip>
            <img src="images/BlueFlag.png" aria-label="red"/>
          </th>
          <th>
            <md-tooltip>
              Filled = Active; Shaded = Passive
            </md-tooltip>
            <img src="images/PurpleFlag.png" aria-label="red"/>
          </th>
          <th>
            <md-tooltip>
              Filled = Active; Shaded = Passive
            </md-tooltip>
            <img src="images/GreenFlag.png" aria-label="red"/>
          </th>
          <th>
            <md-tooltip>
              Filled = Active; Shaded = Passive
            </md-tooltip>
            <img src="images/BlackFlag.png" aria-label="red"/>
          </th>
        </tr>

        <tr ng-repeat="character in mpqModel.characters | orderBy: mpqModel.sortPredicate" ng-class="{'ineligible': isIneligible(character), 'candidate': isCandidate(character), 'selected': isSelectedCharacter(character), 'unique': isSelectedCharacterName(character)}">
          <td>
            <md-checkbox ng-checked="isSelectedCharacter(character)"
            aria-label="{{character.name}}"
            ng-click="select(character);"
            ng-disabled="!isSelectedCharacter(character) && (mpqModel.selectedCharacters.length >= 3 || isSelectedCharacterName(character))">
          </md-checkbox>
          <md-tooltip ng-if="isSelectedCharacterName(character)">
            You already have a different cover of the same character in your party.
          </md-tooltip>
          <md-tooltip ng-if="!isSelectedCharacterName(character) && mpqModel.selectedCharacters.length >= 3 && !isSelectedCharacter(character)">
            You can only have 3 characters in your party.
          </md-tooltip>
        </td>
        <td hide-sm class="rank">
          <span ng-switch="character.rank" layout-fill>
            <span ng-switch-when="0">
              <md-tooltip>
                This character is new and not yet ranked
              </md-tooltip>
              NEW
            </span>
            <span ng-switch-default ng-bind="character.rank"></span>
          </span>
        </td>
        <td class="character">
          <div layout="row" layout-align="space-between center">
            <p>
              <strong class="name" ng-bind="character.name"></strong>
              <span class="title" hide-sm>({{character.cover}})</span>
              <span class="stars" ng-switch="character.stars">
                <span ng-switch-when="1">
                  <i class="fa-star fa"></i>
                </span>
                <span ng-switch-when="2">
                  <i class="fa-star fa"></i><i class="fa-star fa"></i> <i hide-sm>(Uncommon)</i>
                </span>
                <span ng-switch-when="3">
                  <i class="fa-star fa"></i><i class="fa-star fa"></i><i class="fa-star fa"></i> <i hide-sm>(Rare)</i>
                </span>
                <span ng-switch-when="4">
                  <i class="fa-star fa"></i><i class="fa-star fa"></i><i class="fa-star fa"></i><i class="fa-star fa"></i> <i hide-sm>(Legendary)</i>
                </span>
                <span ng-switch-when="5">
                  <i class="fa-star fa"></i><i class="fa-star fa"></i><i class="fa-star fa"></i><i class="fa-star fa"></i><i class="fa-star fa"></i> <i hide-sm>(Epic)</i>
                </span>
              </span>
            </p>

            <div layout="row" layout-align="space-around center" hide-sm>
              <small>
                <md-button ng-href="{{character.forum}}" target="_blank">forum</md-button>
              </small>
              <small>
                <md-button ng-href="http://marvelpuzzlequest.wikia.com/wiki/{{character.name}}_({{character.cover}})" target="_blank">wiki</md-button>
              </small>
            </div>
          </div>
        </td>
        <td class="{{color}} ability" ng-repeat="color in colors">
          <div layout-fill layout-fill ng-repeat="ability in character.abilities | filter:{color:color}"
          ng-class="{'active': ability.cost !== 0, 'passive': ability.cost === 0, 'taken': isActive(color)}">
          <span ng-if="ability.cost === 0">P</span>
          <md-tooltip>
            {{ability.name}}
            <span ng-if="ability.cost === 0">
              &nbsp;(Passive)
            </span>
          </md-tooltip>
        </div>
      </td>
    </tr>
  </table>
</div>
</md-content>

<div class="container resources" layout-fill>
  <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "false";
amzn_assoc_tracking_id = "mpqpp-20";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_search_phrase = "marvel comics";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "7643d0e0d19932587213dc041c628f1c";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
  <h2>References/Resources</h2>

  <p>The idea for this tool and a lot of the data came from the following sources</p>

  <div layout="column" layout-align="start start">
    <a href="http://forums.d3go.com/discussion/17105" target="_blank">
      Most Compatible Character/Team Compositions
    </a>
    <a href="http://forums.d3go.com/discussion/19921" target="_blank">
      List of Rainbow Teams with 3 Passives
    </a>
    <a href="http://forums.d3go.com/discussion/30692" target="_blank">
      3* Synergy/Rainbow Combinations
    </a>
    <a href="http://d3go.com/forums/viewtopic.php?f=14&t=29852" target="_blank">
      Character Rankings May 2015 Edition: The Results!
    </a>
    <a href="http://forums.d3go.com/discussion/23635" target="_blank">
      Best Characters for Two Colour Combinations
    </a>
    <a href="http://d3go.com/games/marvelpuzzlequest/" target="_blank">
      The official site.
    </a>
  </div>
</div>

</div>
<div class="footer" layout="column" layout-align="center center" layout-fill>
  <p>with <i class="fa fa-heart"></i> to</p>
  <div layout="row" layout-align="space-around center" layout-fill class="thanks">
    <p>d3go</p>
    <i class="fa fa-circle"></i>
    <p>angular</p>
    <i class="fa fa-circle"></i>
    <p>font-awesome</p>
  </div>
</div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
  (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
  r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-15045829-1');
ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<!-- endbuild -->
</body>
</html>
