<md-toolbar layout="row" layout-fill>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <h1 flex>MPQ Planner</h1>
    <div layout="row" layout-align="space-around center">
      <div layout="column">

      </div>
    <md-button class="md-button-icon" href="//github.com/infomofo/mpq-party-planner" target="_blank">
      <md-tooltip>Contribute on Github</md-tooltip>
      <i class="fa fa-github"></i>
    </md-button>
    </div>
  </div>
</md-toolbar>
<md-content layout="column" flex class="md-padding" layout-fill>
  <p class="raison">
    This is a tool to help you plan your Marvel Puzzle Quest Party.  Pick a character and you will be able to see what
    active color abilities they bring to your team, and what passives.  Using our graph you can pick out complementary
    characters that will help you succeed no matter what tiles are on the board.
  </p>

  <div class="chart" layout-fill layout="column" layout-align="start center">
    <table class="character_table">
      <tr>
        <td class="zero">

        </td>
        <th>
          Character
        </th>
        <th>
          <img src="/images/YellowFlag.png" aria-label="yellow">

          <md-tooltip>
            Filled = Active; Shaded = Passive
          </md-tooltip>
        </th>
        <th>
          <md-tooltip>
            Filled = Active; Shaded = Passive
          </md-tooltip>
          <img src="/images/RedFlag.png" aria-label="red"/>
        </th>
        <th>
          <md-tooltip>
            Filled = Active; Shaded = Passive
          </md-tooltip>
          <img src="/images/BlueFlag.png" aria-label="red"/>
        </th>
        <th>
          <md-tooltip>
            Filled = Active; Shaded = Passive
          </md-tooltip>
          <img src="/images/PurpleFlag.png" aria-label="red"/>
        </th>
        <th>
          <md-tooltip>
            Filled = Active; Shaded = Passive
          </md-tooltip>
          <img src="/images/GreenFlag.png" aria-label="red"/>
        </th>
        <th>
          <md-tooltip>
            Filled = Active; Shaded = Passive
          </md-tooltip>
          <img src="/images/BlackFlag.png" aria-label="red"/>
        </th>
      </tr>

      <tr ng-repeat="character in mpqModel.characters">
        <th>
          <md-checkbox ng-model="character.selected" aria-label="Checkbox 1">
          </md-checkbox>
        </th>
        <td class="character">
          <div layout="row" layout-align="space-between center">
            <p>
              <span class="name" ng-bind="character.name"></span>
              <span class="title" hide-sm>({{character.cover}})</span>
              <span class="stars" ng-switch="character.stars">
                <span ng-switch-when="1">
                  *
                </span>
                <span ng-switch-when="2">
                  **
                </span>
                <span ng-switch-when="3">
                  ***
                </span>
                <span ng-switch-when="4">
                  ****
                </span>
              </span>
            </p>
            <div layout="row" layout-align="space-around center" hide-sm>
              <small><md-button href="http://www.d3pforums.com/viewtopic.php?f=14&t=552" target="_blank">forum</md-button></small>
              <small><md-button href="http://marvelpuzzlequest.wikia.com/wiki/Wolverine_(X-Force)" target="_blank">wiki</md-button></small>
            </div>
          </div>
        </td>
        <td class="yellow ability">
          <div layout-fill class="passive">
            <md-tooltip>Recovery</md-tooltip>
          </div>
        </td>
        <td class="red ability">

        </td>
        <td class="blue ability">

        </td>
        <td class="purple ability">

        </td>
        <td class="green ability">
          <div layout-fill class="active">
            <md-tooltip>X-Force</md-tooltip>
          </div>
        </td>
        <td class="black ability">
          <div layout-fill class="active">
            <md-tooltip>Surgical Strike</md-tooltip>
          </div>
        </td>
      </tr>

      <tr>
        <th>
          <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
          </md-checkbox>
        </th>
        <td class="character">
          <div layout="row" layout-align="space-between center">
          <p>
            <span class="name">Wolverine</span>
            <span class="title" hide-sm>(X-Force)</span>
            <span class="stars">****</span>
          </p>
          <div layout="row" layout-align="space-around center" hide-sm>
            <small><md-button href="http://www.d3pforums.com/viewtopic.php?f=14&t=552" target="_blank">forum</md-button></small>
            <small><md-button href="http://marvelpuzzlequest.wikia.com/wiki/Wolverine_(X-Force)" target="_blank">wiki</md-button></small>
          </div>
          </div>
        </td>
        <td class="yellow ability">
          <div layout-fill class="passive">
            <md-tooltip>Recovery</md-tooltip>
          </div>
        </td>
        <td class="red ability">

        </td>
        <td class="blue ability">

        </td>
        <td class="purple ability">

        </td>
        <td class="green ability">
          <div layout-fill class="active">
            <md-tooltip>X-Force</md-tooltip>
          </div>
        </td>
        <td class="black ability">
          <div layout-fill class="active">
            <md-tooltip>Surgical Strike</md-tooltip>
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
          </md-checkbox>
        </th>
        <td class="character">
          <div layout="row" layout-align="space-between center">
            <p>
              <span class="name">Captain America</span>
              <span hide-sm class="title">(Steve Rogers)</span>
              <span>***</span>
            </p>
            <div layout="row" layout-align="space-around center" hide-sm>
              <small><md-button href="https://d3go.com/forums/viewtopic.php?f=14&t=5088&start=260" target="_blank">forum</md-button></small>
              <small><md-button href="http://marvelpuzzlequest.wikia.com/wiki/Wolverine_(X-Force)" target="_blank">wiki</md-button></small>
            </div>
          </div>
        </td>
        <td class="yellow ability">
          <div layout-fill class="active">
            <md-tooltip>Recovery</md-tooltip>
          </div>
        </td>
        <td class="red ability">
          <div layout-fill class="active">
            <md-tooltip>Surgical Strike</md-tooltip>
          </div>
        </td>
        <td class="blue ability">

          <div layout-fill class="active">
            <md-tooltip>Surgical Strike</md-tooltip>
          </div>
        </td>
        <td class="purple ability">

        </td>
        <td class="green ability">
        </td>
        <td class="black ability">
        </td>
      </tr>
      <tr>
        <th>
          <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
          </md-checkbox>
        </th>
        <td class="character">
          <div layout="row" layout-align="space-between center">
            <p>
              <span class="name">Squirrel Girl</span>
              <span class="title" hide-sm> (Unbeatable)</span>
              <span class="stars">***</span>
            </p>
            <div layout="row" layout-align="space-around center" hide-sm>
              <small><md-button href="https://d3go.com/forums/viewtopic.php?f=14&t=22117" target="_blank">forum</md-button></small>
              <small><md-button href="http://marvelpuzzlequest.wikia.com/wiki/Wolverine_(X-Force)" target="_blank">wiki</md-button></small>
            </div>
          </div>
        </td>
        <td class="yellow ability">
          <div layout-fill class="active">
            <md-tooltip>The Bigger They Are</md-tooltip>
          </div>
        </td>
        <td class="red ability">
        </td>
        <td class="blue ability">

        </td>
        <td class="purple ability">
          <div layout-fill class="active">
            <md-tooltip>Nuts From Above</md-tooltip>
          </div>
        </td>
        <td class="green ability">
          <div layout-fill class="active">
            <md-tooltip>Furry Friends</md-tooltip>
          </div>
        </td>
        <td class="black ability">
        </td>
      </tr>
    </table>
  </div>

  <div>
    <h2>References/Resources</h2>
    <p>The idea for this tool and a lot of the data came from the following sources</p>
    <div layout="column" layout-align="start start">
      <a href="https://d3go.com/forums/viewtopic.php?f=6&t=17105" target="_blank">
        Most Compatible Character/Team Compositions
      </a>
      <a href="https://d3go.com/forums/viewtopic.php?f=6&t=19921" target="_blank">
        List of Rainbow Teams with 3 Passives
      </a>
      <a href="https://d3go.com/forums/viewtopic.php?f=6&t=30692" target="_blank">
        3* Synergy/Rainbow Combinations
      </a>
      <a href="https://d3go.com/forums/viewtopic.php?f=14&t=29852" target="_blank">
        Character Rankings May 2015 Edition: The Results!
      </a>
    </div>
  </div>

</md-content>
